menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xsd.kongkongye.com/menu.xsd"
           xmlns="http://xsd.kongkongye.com/menu.xsd"
           elementFormDefault="qualified">
    <xs:element name="menu">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Base">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="line" type="Line">
                                <xs:annotation>
                                    <xs:documentation>line content</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="list" type="List"/>
                            <xs:element name="import" type="Import">
                                <xs:annotation>
                                    <xs:documentation>import(menu)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="enable" type="xs:boolean" default="true">
                        <xs:annotation>
                            <xs:documentation>enabled, default is true</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="title" use="required">
                        <xs:annotation>
                            <xs:documentation>title</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="pageContext">
                        <xs:annotation>
                            <xs:documentation>page context, format: 'page param handler name[:page param handler data]'</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="listContext">
                        <xs:annotation>
                            <xs:documentation>list context, format: 'list param handler name[:list param handler data]'</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Base">
        <xs:attribute name="condition">
            <xs:annotation>
                <xs:documentation>condition</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Component">
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:attribute name="style"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Line" mixed="true">
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:all>
                    <xs:element name="text" type="Text" minOccurs="0"/>
                    <xs:element name="button" type="Button" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>button content</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sub" type="Sub" minOccurs="0"/>
                    <xs:element name="input" type="Input" minOccurs="0"/>
                </xs:all>
                <xs:attribute name="description">
                    <xs:annotation>
                        <xs:documentation>description(multiple lines is separated by \n)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sub">
                    <xs:annotation>
                        <xs:documentation>belong, no belong by default</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="List">
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="line" type="Line"/>
                    <xs:element name="import" type="Import">
                        <xs:annotation>
                            <xs:documentation>import(menu)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="size" type="ListSizeType">
                    <xs:annotation>
                        <xs:documentation>page size,>=1</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sub" default="">
                    <xs:annotation>
                        <xs:documentation>belong</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Import">
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:attribute name="path" use="required">
                    <xs:annotation>
                        <xs:documentation>imported menu path,format: '[namespace:]path'</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Text">
        <xs:complexContent mixed="true">
            <xs:extension base="Component">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Button">
        <xs:complexContent mixed="true">
            <xs:extension base="Component">
                <xs:attribute name="cmd">
                    <xs:annotation>
                        <xs:documentation>command(default is empty, will not execute command)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="mode" type="ButtonMode" default="stay">
                    <xs:annotation>
                        <xs:documentation>
                            the action after executing, default is stay
                            exit: exit menu
                            back: back menu
                            stay(default): no action
                            refresh: refresh page
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="optional">
                    <xs:annotation>
                        <xs:documentation>optional input param list, multiple value is separated by ','</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Input">
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:attribute name="name" use="required">
                    <xs:annotation>
                        <xs:documentation>param name</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="InputLimitType" default="string">
                    <xs:annotation>
                        <xs:documentation>param type limit(default is string)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default">
                    <xs:annotation>
                        <xs:documentation>default value</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Sub">
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:attribute name="name">
                    <xs:annotation>
                        <xs:documentation>default is empty,empty is a normal value too(can not contain @)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default" type="SubDefaultType" default="closed">
                    <xs:annotation>
                        <xs:documentation>init status(default is closed)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="group">
                    <xs:annotation>
                        <xs:documentation>sub menu group(no group by default)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="ListSizeType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SubDefaultType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="open"/>
            <xs:enumeration value="closed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ButtonMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="exit"/>
            <xs:enumeration value="back"/>
            <xs:enumeration value="stay"/>
            <xs:enumeration value="refresh"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="InputLimitType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="integer"/>
            <xs:enumeration value="real"/>
            <xs:enumeration value="string"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
