MenuMod-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xsd.kongkongye.com/MenuMod-1.0.0.xsd"
           xmlns="http://xsd.kongkongye.com/MenuMod-1.0.0.xsd"
           elementFormDefault="qualified">
    <xs:element name="menu">
        <xs:complexType>
            <xs:all>
                <xs:element name="lines" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>行配置</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:choice>
                                <xs:element name="line" type="Line">
                                    <xs:annotation>
                                        <xs:documentation>行内容</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="list" type="List"/>
                                <xs:element name="import" type="Import">
                                    <xs:annotation>
                                        <xs:documentation>导入(菜单)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hovers" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>(引用的)悬浮提示配置</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="hover" type="Hover">
                                <xs:annotation>
                                    <xs:documentation>悬浮提示</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="maps" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>映射管道配置</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="map" type="Map">
                                <xs:annotation>
                                    <xs:documentation>映射管道</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="server" type="xs:boolean" default="true">
                <xs:annotation>
                    <xs:documentation>是否服务器菜单,false时表示本地菜单(默认true)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="enable" type="xs:boolean" default="true">
                <xs:annotation>
                    <xs:documentation>是否启用,默认true</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="title" use="required">
                <xs:annotation>
                    <xs:documentation>标题(不会转换颜色字符$)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pageContext">
                <xs:annotation>
                    <xs:documentation>
                        页面上下文,
                        格式: '页面处理器名称[:页面处理器数据]',
                        (数据中无法使用变量)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="listContext">
                <xs:annotation>
                    <xs:documentation>
                        列表上下文,
                        格式: '列表处理器名称[:列表处理器数据]',
                        (数据中无法使用变量)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Base">
        <xs:attribute name="conditionSide" type="ConditionSide" default="server">
            <xs:annotation>
                <xs:documentation>
                    条件所属的端
                    local: 本地
                    server(默认): 服务器
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="condition">
            <xs:annotation>
                <xs:documentation>条件,格式'条件名:条件值'</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hover">
            <xs:annotation>
                <xs:documentation>
                    悬浮提示
                    (可使用变量,可使用颜色字符$)
                    优先于'hoverRef'属性配置
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hoverRef">
            <xs:annotation>
                <xs:documentation>悬浮提示引用的ID</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Component">
        <xs:complexContent>
            <xs:extension base="Base"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Line" mixed="true">
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:group ref="component" minOccurs="0" maxOccurs="unbounded"/>
                <xs:attribute name="sub">
                    <xs:annotation>
                        <xs:documentation>所属子菜单,默认无</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="LineAlign" default="left">
                    <xs:annotation>
                        <xs:documentation>对齐方式,默认向左对齐</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="alignCenterType" type="LineAlignCenterType" default="spaceBoth">
                    <xs:annotation>
                        <xs:documentation>居中对齐类型(只有对齐属性为居中(center)时才有效)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="List">
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="line" type="Line"/>
                    <xs:element name="import" type="Import">
                        <xs:annotation>
                            <xs:documentation>导入(菜单)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="size" type="ListSizeType">
                    <xs:annotation>
                        <xs:documentation>页面大小,>=1</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Import">
        <xs:complexContent>
            <xs:extension base="Base">
                <xs:attribute name="path" use="required">
                    <xs:annotation>
                        <xs:documentation>导入菜单路径,格式: '仓库ID:命名空间:路径'</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Div">
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:group ref="component" minOccurs="0" maxOccurs="unbounded"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Text">
        <xs:complexContent mixed="true">
            <xs:extension base="Component">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Button">
        <xs:complexContent mixed="true">
            <xs:extension base="Component">
                <xs:attribute name="type" type="ButtonType" default="cmd">
                    <xs:annotation>
                        <xs:documentation>
                            按钮动作类型
                            cmd: 执行命令
                            url: 打开url
                            file: 打开文件
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cmdSide" type="CmdSide" default="server">
                    <xs:annotation>
                        <xs:documentation>
                            命令所属的端,只在type为cmd时有效,
                            server(默认): 服务端,
                            local: 本地端
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="value">
                    <xs:annotation>
                        <xs:documentation>
                            值,与动作类型有关.
                            分别为命令内容/url地址/文件地址
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="mode" type="ButtonMode" default="stay">
                    <xs:annotation>
                        <xs:documentation>
                            执行按钮后的动作
                            exit: 退出
                            back: 返回
                            stay(默认): 无操作
                            refresh: 刷新页面
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="optional">
                    <xs:annotation>
                        <xs:documentation>可选输入变量列表,多个值以逗号(,)分隔</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Input">
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:attribute name="name" use="required">
                    <xs:annotation>
                        <xs:documentation>变量名</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="InputLimitType" default="string">
                    <xs:annotation>
                        <xs:documentation>变量类型限制(默认为string)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default">
                    <xs:annotation>
                        <xs:documentation>默认值(可使用变量)(不可使用颜色字符)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Sub">
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:attribute name="name">
                    <xs:annotation>
                        <xs:documentation>默认为空,空也是正常值(不能包含@符号)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default" type="SubDefaultType" default="closed">
                    <xs:annotation>
                        <xs:documentation>初始状态,默认关闭</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="group">
                    <xs:annotation>
                        <xs:documentation>子菜单组,默认无</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Items">
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:attribute name="showHover" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            是否显示物品的悬浮提示(默认true)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="side" type="ItemsSide" default="server"/>
                <xs:attribute name="param">
                    <xs:annotation>
                        <xs:documentation>
                            变量,格式'物品处理器名[:物品处理器数据]'
                            可以包含命令变量,只会在开始的时候解析一次
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Badge">
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:attribute name="color" type="BadgeColor" default="a">
                    <xs:annotation>
                        <xs:documentation>背景颜色</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Hover">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="hoverLine" type="xs:string">
                <xs:annotation>
                    <xs:documentation>悬浮文字的行内容(可使用变量,可使用颜色字符$)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>悬浮文字的引用ID</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Map">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="mapValue" type="MapValue">
                <xs:annotation>
                    <xs:documentation>映射</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" use="required">
            <xs:annotation>
                <xs:documentation>映射名</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="MapValue" mixed="true">
        <xs:attribute name="key" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    键,未设置时为null,null会匹配任意键
                    (空字符串也是正常的键,会匹配空字符串)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="ListSizeType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SubDefaultType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="open"/>
            <xs:enumeration value="closed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ButtonType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cmd"/>
            <xs:enumeration value="url"/>
            <xs:enumeration value="file"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConditionSide">
        <xs:restriction base="xs:string">
            <xs:enumeration value="server"/>
            <xs:enumeration value="local"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CmdSide">
        <xs:restriction base="xs:string">
            <xs:enumeration value="server"/>
            <xs:enumeration value="local"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ButtonMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="exit"/>
            <xs:enumeration value="back"/>
            <xs:enumeration value="stay"/>
            <xs:enumeration value="refresh"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="InputLimitType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="integer"/>
            <xs:enumeration value="real"/>
            <xs:enumeration value="string"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LineAlign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItemsSide">
        <xs:restriction base="xs:string">
            <xs:enumeration value="server"/>
            <xs:enumeration value="local"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LineAlignCenterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="spaceBoth">
                <xs:annotation>
                    <xs:documentation>两端留空(默认)(  ooo  )</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="spaceBetween">
                <xs:annotation>
                    <xs:documentation>在中间留空(o  o  o)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="spaceAround">
                <xs:annotation>
                    <xs:documentation>在周围留空( o o o )</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BadgeColor">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="a"/>
            <xs:enumeration value="b"/>
            <xs:enumeration value="c"/>
            <xs:enumeration value="d"/>
            <xs:enumeration value="e"/>
            <xs:enumeration value="f"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:group name="component">
        <xs:sequence>
            <xs:element name="div" type="Div" minOccurs="0"/>
            <xs:element name="text" type="Text" minOccurs="0"/>
            <xs:element name="button" type="Button" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>按钮内容(不会转换颜色格式字符)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="input" type="Input" minOccurs="0"/>
            <xs:element name="sub" type="Sub" minOccurs="0"/>
            <xs:element name="items" type="Items" minOccurs="0"/>
            <xs:element name="badge" type="Badge" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
</xs:schema>
